@model DEVICE.Web.ViewModels.RegistroEquipoViewModel
@{
    ViewData["Title"] = "Registro de Equipos";
}

<br />
<form id="frmEquipo" asp-area="Equipo" asp-controller="Registro" asp-action="Index" method="post">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="inputPassword4">Tipo</label>
            <select name="TipoProductoID" id="cboTipoProducto" class="form-control">
                <option selected value="-1">---SELECCIONE---</option>
                @foreach (var item in Model.ListadoTipoProducto)
                {
                    <option value="@item.Id">@item.Descripcion</option>
                }
            </select>
        </div>

        <div class="form-group col-md-5" id="divNumeroSerie">
            <label for="inputEmail4">N° Serie</label>
            <input type="text" name="NumeroSerie" class="form-control" id="txtNroSerie" placeholder="Ingrese el número de serie">
        </div>
        <div class="form-group col-md-5" id="divNumeroProducto" style="display:inline">
            <label for="inputEmail4">N° Producto</label>
            <input type="text" name="NumeroProducto" class="form-control" id="txtNroProducto" placeholder="Ingrese el número de producto">
        </div>


    </div>
    <div class="form-row">
        <div class="form-group col-md-9" id="divModeloSistema">
            <label for="inputEmail4">Modelo</label>
            <input type="text" name="Modelo" class="form-control" id="txtModeloSistema" placeholder="Ingrese el modelo del sistema">
        </div>
        <div class="form-group col-md-3" id="divMemoriaRam">
            <label for="inputEmail4">Memoria RAM</label>
            <select name="MemoriaRam" id="cboMemoriaRam" class="form-control">
                <option selected value="-1">---SELECCIONE---</option>
                @for (int i = 4; i <= 64; i += 2)
                {
                    <option value="@i">@(i + "GB")</option>
                }
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputEmail4">Fabricante</label>
            <select name="FabricanteID" id="cboFabricante" class="form-control">
                <option selected value="-1">---SELECCIONE---</option>
                @foreach (var item in Model.ListadoFabricante)
                {
                    <option value="@item.Id">@item.Descripcion</option>
                }
            </select>
        </div>
        <div class="form-group col-md-4" id="divSistemaOperativo">
            <label for="inputEmail4">Sistema Operativo</label>
            <select name="SistemaOperativoID" id="cboSistemaOperativo" class="form-control">
                <option selected value="-1">---SELECCIONE---</option>
                @foreach (var item in Model.ListadoSistemaOperativo)
                {
                    <option value="@item.Id">@item.Descripcion</option>
                }
            </select>
        </div>
        <div class="form-group col-md-4" id="divProcesador">
            <label for="inputEmail4">Procesador</label>
            <select name="ProcesadorID" id="cboProcesador" class="form-control">
                <option selected value="-1">---SELECCIONE---</option>
                @foreach (var item in Model.ListadoProcesador)
                {
                    <option value="@item.Id">@item.Descripcion</option>
                }
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputEmail4">Comentarios</label>
            <input type="hidden" id="hidIDProducto" value="-1" />
            <input type="text" name="Comentario" class="form-control" id="txtDescripcion" placeholder="Comentario">
            @*<textarea name="Comentario" class="form-control" id="txtDescripcion" cols="40" rows="3"></textarea>*@

        </div>

    </div>
    <div id="divIP" class="form-row invisible">
        <div class="form-group col-md-4">
            <label for="inputEmail4">IP</label>
            <input type="text" name="IP" class="form-control" id="txtIP" placeholder="Ingrese la dirección IP">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Usuario IP</label>
            <input type="text" name="Usuario" class="form-control" id="txtUsuarioIP" placeholder="Ingrese el Usuario IP">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">Password IP</label>
            <input type="text" name="Password" class="form-control" id="txtPasswordIP" placeholder="Ingrese el Password IP">
        </div>

    </div>

    <div id="divSSID" class="form-row invisible">
        <div class="form-group col-md-4">
            <label for="inputEmail4">SSID Nombre</label>
            <input type="text" name="SSIDNombre" class="form-control" id="txtSSIDNombre" placeholder="Ingrese la dirección IP">
        </div>
        <div class="form-group col-md-4">
            <label for="inputEmail4">SSID Password</label>
            <input type="text" name="SSIDPassword" class="form-control" id="txtSSIDPassword" placeholder="Ingrese el Usuario IP">
        </div>


    </div>

    <div class="d-flex justify-content-center">
        <button type="button" id="btnGuardar" class="btn btn-success btn-lg mr-5">Guardar</button>
        <button type="reset" class="btn btn-danger btn-sm">Cancelar</button>
    </div>

</form>

<hr />

<div id="divListado">

</div>



<script>

    function limpiarControles() {
        $("#hidIDProducto").val(-1);
        $("#txtDescripcion").val("");
        //$("#cboTipoProducto").val(-1);
        $("#txtNroSerie").val("");
        $("#txtNroProducto").val("");
        $("#cboMemoriaRam").val(-1);
        $("#txtModeloSistema").val("");
        $("#cboSistemaOperativo").val(-1);
        $("#cboFabricante").val(-1);
        $("#cboProcesador").val(-1);
        $("#txtIP").val("");
        $("#txtUsuarioIP").val("");
        $("#txtPasswordIP").val("");
        $("#txtSSIDNombre").val("");
        $("#txtSSIDPassword").val("");
    }


    $('#cboTipoProducto').on('change', function () {

        //1	Desktop	True	    1
        //2	Laptop	True	    1
        //3	Impresora	True	2
        //4	Cámara	True	    3
        //5	Servidores	True	1
        //6	Fortinet	True	4
        //7	TP - Link	True	5
        //8	Handheld	True	6
        //9	Otros	True	6
        limpiarControles();
        let idTipoProducto = $(this).val();
        visualizarCampos(idTipoProducto);
       
        
    });

    function visualizarCampos(tipoProducto) {
        switch (tipoProducto.toString()) {
            case "1":
            case "2":
                $('#divIP').addClass('invisible').removeClass('visible');
                $('#divSSID').addClass('invisible').removeClass('visible');
                $('#divNumeroSerie').addClass('visible').removeClass('invisible');
                $('#divNumeroProducto').addClass('visible').removeClass('invisible');
                $('#divSistemaOperativo').addClass('visible').removeClass('invisible');
                $('#divProcesador').addClass('visible').removeClass('invisible');
                $('#divMemoriaRam').addClass('visible').removeClass('invisible');
                break;
            case "3":
                $('#divIP').addClass('visible').removeClass('invisible');
                $('#divSSID').addClass('invisible').removeClass('visible');
                $('#divNumeroSerie').addClass('invisible').removeClass('visible');
                $('#divNumeroProducto').addClass('invisible').removeClass('visible');
                $('#divSistemaOperativo').addClass('invisible').removeClass('visible');
                $('#divProcesador').addClass('invisible').removeClass('visible');
                $('#divMemoriaRam').addClass('invisible').removeClass('visible');

                break;
            case "4":
            case "8":
                $('#divIP').addClass('visible').removeClass('invisible');
                $('#divSSID').addClass('invisible').removeClass('visible');
                $('#divNumeroSerie').addClass('visible').removeClass('invisible');
                $('#divNumeroProducto').addClass('invisible').removeClass('visible');
                $('#divSistemaOperativo').addClass('invisible').removeClass('visible');
                $('#divProcesador').addClass('invisible').removeClass('visible');
                $('#divMemoriaRam').addClass('invisible').removeClass('visible');
                break;
            case "5":
            case "6":
                $('#divIP').addClass('visible').removeClass('invisible');
                $('#divSSID').addClass('invisible').removeClass('visible');
                $('#divNumeroSerie').addClass('visible').removeClass('invisible');
                $('#divNumeroProducto').addClass('visible').removeClass('invisible');
                $('#divSistemaOperativo').addClass('visible').removeClass('invisible');
                $('#divProcesador').addClass('visible').removeClass('invisible');
                $('#divMemoriaRam').addClass('visible').removeClass('invisible');
                break;
            case "7":
                $('#divIP').addClass('visible').removeClass('invisible');
                $('#divSSID').addClass('visible').removeClass('invisible');
                $('#divNumeroSerie').addClass('visible').removeClass('invisible');
                $('#divNumeroProducto').addClass('invisible').removeClass('visible');
                $('#divSistemaOperativo').addClass('invisible').removeClass('visible');
                $('#divProcesador').addClass('invisible').removeClass('visible');
                $('#divMemoriaRam').addClass('invisible').removeClass('visible');
                break;
            case "9":
                $('#divIP').addClass('invisible').removeClass('visible');
                $('#divSSID').addClass('invisible').removeClass('visible');
                $('#divNumeroSerie').addClass('visible').removeClass('invisible');
                $('#divNumeroProducto').addClass('invisible').removeClass('visible');
                $('#divSistemaOperativo').addClass('invisible').removeClass('visible');
                $('#divProcesador').addClass('invisible').removeClass('visible');
                $('#divMemoriaRam').addClass('invisible').removeClass('visible');
                break;
            default:
            // code block
        }
    }



    CargarProductos()
    function CargarProductos() {
        //alert(baseUrl);
        $.ajax({
            type: "GET",
            url: "/Equipo/Registro/Listado",
            cache: false,
            success: function (dataHtml) {
                $("#divListado").html(dataHtml);
                //$("#divListadoEmpresa #tbEmpresa").DataTable();
            }
        });
    }



    $("#btnGuardar").click(function () {
        let vIDProducto = $("#hidIDProducto").val();
        let vDescripcion = $("#txtDescripcion").val();
        let vTipoProductoID = $("#cboTipoProducto").val();
        let vNumeroSerie = $("#txtNroSerie").val();
        let vNumeroProducto = $("#txtNroProducto").val();
        let vMemoriaRam = $("#cboMemoriaRam").val();
        let vModeloSistema = $("#txtModeloSistema").val();
        let vSistemaOperativoID = $("#cboSistemaOperativo").val();
        let vFabricanteID = $("#cboFabricante").val();
        let vProcesadorID = $("#cboProcesador").val();
        let vIP = $("#txtIP").val();
        let vUsuarioIP = $("#txtUsuarioIP").val();
        let vPasswordIP = $("#txtPasswordIP").val();
        let vSSIDNombre = $("#txtSSIDNombre").val();
        let vSSIDPassword = $("#txtSSIDPassword").val();

        var objProducto = JSON.stringify({
            ID: (vIDProducto == -1 ? 0 : vIDProducto),
            Comentario: vDescripcion,
            TipoProductoID: vTipoProductoID,
            NumeroSerie: vNumeroSerie,
            NumeroProducto: vNumeroProducto,
            MemoriaRam: vMemoriaRam,
            Modelo: vModeloSistema,
            SistemaOperativoID: vSistemaOperativoID,
            FabricanteID: vFabricanteID,
            ProcesadorID: vProcesadorID,
            IP: vIP,
            Usuario: vUsuarioIP,
            Password: vPasswordIP,
            SSIDNombre: vSSIDNombre,
            SSIDPassword: vSSIDPassword
        });


        var dataType = 'application/json; charset=utf-8';

        $.ajax({
            type: 'POST',
            url: '/Equipo/Registro/Index',
            dataType: 'json',
            contentType: dataType,
            data: objProducto,
            success: function (exito) {
                if (exito) {


                    swal("Good job!", "Se registró satisfactoriamente", "success")


                    CargarProductos();
                    limpiarControles();
                    //$("#modalRegistroEmpresa").modal("toggle");
                    //limpiarControles();
                } else {
                    swal("Ocurrió un error en la transacción")
                }
            }
        });
    });



    $("#divListado").on('click', '.btnEliminarProducto', function () {
        let vIdProducto = $(this).attr('data-id');

        //swal({
        //    title: "Are you sure?",
        //    text: "Your will not be able to recover this imaginary file!",
        //    type: "warning",
        //    showCancelButton: true,
        //    confirmButtonClass: "btn-danger",
        //    confirmButtonText: "Yes, delete it!",
        //    closeOnConfirm: false
        //},
        //    function () {
        //        swal("Deleted!", "Your imaginary file has been deleted.", "success");
        //    });

        $.ajax({
            type: "POST",
            url: '/Equipo/Registro/Eliminar',
            data: { id: vIdProducto },
            cache: false,
            success: function (exito) {
                if (exito) {
                    swal("La Empresa fue eliminada exitosamente.");

                    CargarProductos();
                } else {
                    swal("Ocurrió un error en la transacción");
                }
            }
        });


    });

    $("#divListado").on('click', '.btnEditarProducto', function () {
        //LimpiarControles();
        let vIdProducto = $(this).attr('data-id');
        $("#hidIDProducto").val(vIdProducto);

        $.ajax({
            type: "GET",
            url: "/Equipo/Registro/Obtener",
            data: { id: vIdProducto },
            cache: false,
            success: function (objProducto) {
                console.log(objProducto);
                limpiarControles();
                visualizarCampos(objProducto.tipoProductoId);
                $("#hidIDProducto").val(objProducto.id);
                $("#txtDescripcion").val(objProducto.comentario);
                $("#cboTipoProducto").val(objProducto.tipoProductoId);
                $("#txtNroSerie").val(objProducto.numeroSerie);
                $("#txtNroProducto").val(objProducto.numeroProducto);
                $("#cboMemoriaRam").val(objProducto.memoriaRam);
                $("#txtModeloSistema").val(objProducto.modelo);
                $("#cboSistemaOperativo").val(objProducto.sistemaOperativoId);
                $("#cboFabricante").val(objProducto.fabricanteId);
                $("#cboProcesador").val(objProducto.procesadorId);

                $("#txtIP").val(objProducto.ip);
                $("#txtUsuarioIP").val(objProducto.usuario);
                $("#txtPasswordIP").val(objProducto.password);
                $("#txtSSIDNombre").val(objProducto.ssidNombre);
                $("#txtSSIDPassword").val(objProducto.ssidPassword);               

            }
        });
    });

</script>